@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin keyframeTransform($name, $from, $to) {
  @-moz-keyframes #{$name} {
    from {
      -moz-transform: $from;
      transform: $from;
    }
    to {
      -moz-transform: $to;
      transform: $to;
    }
  }
  @-webkit-keyframes #{$name} {
    from {
      -webkit-transform: $from;
      transform: $from;
    }
    to {
      -webkit-transform: $to;
      transform: $to;
    }
  }
  @-o-keyframes #{$name} {
    from {
      -o-transform: $from;
      transform: $from;
    }
    to {
      -o-transform: $to;
      transform: $to;
    }
  }
  @keyframes #{$name} {
    from {
      @include transform($from);
    }
    to {
      @include transform($to);
    }
  }
}

@mixin keyframePrefixedX($property, $name, $from, $to) {
  @-moz-keyframes #{$name} {
    from {
      -moz-#{$property}: $from;
      #{$property}: $from;
    }
    to {
      -moz-#{$property}: $to;
      #{$property}: $to;
    }
  }
  @-webkit-keyframes #{$name} {
    from {
      -webkit-#{$property}: $from;
      #{$property}: $from;
    }
    to {
      -webkit-#{$property}: $to;
      #{$property}: $to;
    }
  }
  @-o-keyframes #{$name} {
    from {
      -o-#{$property}: $from;
      #{$property}: $from;
    }
    to {
      -o-#{$property}: $to;
      #{$property}: $to;
    }
  }
  @keyframes #{$name} {
    from {
      @if $property == 'filter' {
        @include filter($from);
      }
    }
    to {
      @if $property == 'filter' {
        @include filter($from);
      }
    }
  }
}

@mixin rotate($amt) {
  @include transform(rotate($amt));
//-moz-transform: rotate($amt);
//transform: rotate($amt);
}



