/* copyright 2070 - obstipator . do not steal ! ! !
 * http://forums.somethingawful.com/member.php?action=getinfo&userid=157805
 * This has all the novelty game related cool shit for YCS
 *
 * I'd like to give a shoutout to all the videogame characters that come to life for my birthday.
 *
 * I also wanna thank the fuckmods for uploading this stylesheet and nothing else :twisted:
 */
body.forum_267 {
  background: url(http://pasta.rd14.net/2014-04/bgYoshi.jpg) #cedbf0;
}

.forum_267 #container {
  background: url(http://pasta.rd14.net/2014-04/bgYoshiBottom.png) repeat-x bottom;
  padding-bottom: 50px;
}
.forum_267 #copyright a {
  color: #fff;
  font-weight: bold;
}

body#something_awful.forum_267 #copyright {
  color: #fff;
  text-shadow: 0 0 0.5em #000, 0 0 0.5em #000, 0 0 0.5em #000;
}

.forum_267 .breadcrumbs a.up, .forum_267 .breadcrumbs a.bclast, .forum_267 .breadcrumbs .online_users, .forum_267 .breadcrumbs .mainbodytextlarge b {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-weight: normal;
  text-decoration: none;
  padding: 0 4px;
  background: #EEE;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 2px 8px;
  margin-right: 6px;
  box-shadow: inset 1px 1px 1px white, inset -1px -1px 1px #bbbbbb, 2px 2px 2px rgba(26, 26, 26, 0.39);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.forum_267 #thread {
  clear: both;
}

.forum_267 .postbody b a[href^="/banlist.php?userid="]:after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 43px;
  vertical-align: middle;
  padding: 0 4px 0 0;
  background-image: url(http://i.somethingawful.com/images/n-banlist.png);
  background-size: 100% 100%;
  -webkit-filter: drop-shadow(0 0 1px black);
  -moz-filter: drop-shadow(0 0 1px black);
  filter: drop-shadow(0 0 1px black);
}

.forum_267 img.bookmark {
  height: 0;
  width: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  background-image: url(http://i.somethingawful.com/images/n-star0.png);
  background-size: 100%;
}

.forum_267 img.unbookmark {
  height: 0;
  width: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  background-image: url(http://i.somethingawful.com/images/n-star1.png);
  background-size: 100%;
}

@-moz-keyframes hand {
  from {
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -moz-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@-webkit-keyframes hand {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@-o-keyframes hand {
  from {
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@keyframes hand {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
}

.forum_267 a:hover, .forum_267 .rating_buttons li:hover {
  position: relative;
}
.forum_267 a:hover:before, .forum_267 .rating_buttons li:hover:before {
  pointer-events: none;
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEUAAAAAAACdnZ2cnJydnZ0AAACcnJz///96iO+2AAAABHRSTlOzAAAAvFSH7gAAAGhJREFUeF5disENAjEMBJcOWKQ0YDoILSTwhQPjBjiugYS0jx1+7GM1Gg1I1RtJMNnoAQcbrax6h4tYh10mNEzxedWfqd7YFpBlQltPGVY8Wdw8ntt4LyJIWs5V8hFMqleA+N8O+3iSX+SpIGJxGb9xAAAAAElFTkSuQmCC) no-repeat;
  display: inline-block;
  top: 0;
  left: -16px;
  -webkit-animation: hand 0.5s linear infinite alternate;
  -moz-animation: hand 0.5s linear infinite alternate;
  -ms-animation: hand 0.5s linear infinite alternate;
  -o-animation: hand 0.5s linear infinite alternate;
  animation: hand 0.5s linear infinite alternate;
}
.forum_267 .alertbutton a, .forum_267 .postbuttons a, .forum_267 .thread .icon a {
  display: inline-block;
}
.forum_267 #thread dl.userinfo dt.author.role-mod {
  background-image: url(data:image/gif;base64,R0lGODlhCgAQAJEDAO3+/hWP5i5LYAAAACH5BAEAAAMALAAAAAAKABAAAAItnCdyK5CLAAhBmSZpja3qlFGCiH1k6FWleE6sOrmjqjmeMmvbpVtH8oAgfIMCADs=);
  padding-left: 14px;
}
.forum_267 #thread dl.userinfo dt.author.role-admin {
  background-image: url(data:image/gif;base64,R0lGODlhCgAQAJEDANtHSpkgJf/S0gAAACH5BAEAAAMALAAAAAAKABAAAAItnBdxG5KLhABAmSZpja3qlFGBiH1k6FWleE6sOrmjqjmeMmvbpVtH8oAgfIMCADs=);
  padding-left: 14px;
}
.forum_267 .thread td.title_sticky a.thread_title, .forum_267 .author.op:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEX///8AAABSxhj///9KjO+oAAAAAXRSTlMAQObYZgAAAFtJREFUeF4lxLERQDAYgNFPkTMBOrNkhBT+lpohWMISNGkoXVZQ6E3hcpc7iULzoGgga3eNis5QBjtTr+tGZ8PD5OL7M7p4MNiw0Iv0iL+Fyt8XeUonKiVDJqI/X4gkPOes9IQAAAAASUVORK5CYII=) no-repeat;
  padding-left: 20px;
}
.forum_267 .author.op:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 0 4px 0 0;
  vertical-align: bottom;
}
.forum_267 td.postdate a {
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  padding: 0;
  margin-right: 4px;
  text-shadow: none;
  color: transparent;
}
.forum_267 td.postdate a:hover {
  background-color: transparent;
}
.forum_267 #thread td.postdate .lastseen_icon {
  background: url(data:image/gif;base64,R0lGODlhEAANAKIHAP///zkIAGMQCNY5MYwYELUpIe+cnAAAACH5BAEAAAcALAAAAAAQAA0AAANKeLrSESuqNmp98ohhjK0FxAjdZz2QAKwrAbjAwAZAo94rDtGEjNfAHQ/IqrkeOR9Rd0ARBM8nVIBZBAgFU4EgijywhW0100R1FQkAOw==) no-repeat center center;
  margin-right: 4px;
}
.forum_267 #thread td.postdate .lastseen_icon img {
  display: none;
}
.forum_267 td.postdate a.user_jump {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEX////YsBiISBBgKADQqCCwgBjgsBjIoBiYYBj46Ij4+PjowDD40Chwesi1AAAAAXRSTlMAQObYZgAAAH9JREFUeF4tyDEKwjAYhuFPPMEPWYpOf5B2FIrOopnsVIO6i2To6KAHyJIruHb8ztJD2QTf6eHFQnLmgBW/c9ML1T4EkZNHFTj39FgPGWOBakY3sBeOEd1DzywQIXmMeIshtY64iSPrj0Vv3EUL3P/cd1dy4y2alFSbZLFsS9sfPcstFrSXD2YAAAAASUVORK5CYII=) no-repeat center center;
}
.forum_267 td.postdate a.user_jump[title^="R"] {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.forum_267 td.postdate a[href*="action=showpost"] {
  background: url(data:image/gif;base64,R0lGODlhEAAKAKIFABgYGPj4+Li4uNjY2ICAgAAAAAAAAAAAACH5BAEAAAUALAAAAAAQAAoAAAMuCLrcBSNIJaQNK05QbxDM1inSABSPWGomCqgecaYYJxG4jNLUpuw8Gwa4azCICQA7) no-repeat center center;
}
.forum_267 td.postdate a[href^="#"] {
  background: url(data:image/gif;base64,R0lGODlhDwAQAKIAAAAAAJlOAOqeIojYAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAPABAAAANDCKrTvhC4OaKQIet61dVgAHSjEAiDgJrqop4nG0NqbZtQ88aNCIS2Hsi0mRBjRKJuB8ughruj0vEBUmg2nyai2HIBCQA7) no-repeat center center;
}
.forum_267 #copyright:before {
  content: '';
  display: inline-block;
  background: url(http://pasta.rd14.net/2014-04/hammock4.gif) no-repeat left top;
  pointer-events: none;
  position: absolute;
  top: -35px;
  left: 0;
  width: 250px;
  height: 201px;
  z-index: -1;
}
.forum_267 #navigation, .forum_267 #nav_purchase {
  margin-left: 235px;
}
.forum_267 .postbuttons input {
  padding-left: 20px;
}
.forum_267 .postbuttons input[name="submit"] {
  background: url(data:image/gif;base64,R0lGODlhDQANAKIHADFa9wgQSiFCzhAplAgha////7W99wAAACH5BAEAAAcALAAAAAANAA0AAANEeHrUEWs1QOmTwJhKBWQaIBRCBRHCRhWcR1QjQHbB25HFQNtp4auuUkyXEwwgAcAgpyx+AgOjcEA4Lh5RgfESOTy+kQQAOw==) 4px center no-repeat #dddddd;
}
.forum_267 .postbuttons input[name="preview"] {
  background: url(data:image/gif;base64,R0lGODlhDQANAKIHAEqtIRgxADF7EP///ylCEClaCK3enAAAACH5BAEAAAcALAAAAAANAA0AAANBeHrUEWs1QOmTwJhKBWSaMIyFxQibWKiAR1Qq68LjULbB29nF8LqC3coHKEACOxJOEVgVGj/j4rESCIyfyGMbSQAAOw==) 4px center no-repeat #dddddd;
}
.forum_267 #thread tr.ignored dl.userinfo, .forum_267 #thread table.ignored td.postbody a {
  background: url(data:image/gif;base64,R0lGODlhFAAUAKIHAAMBBcWNUby6w3BsbYRULlUyIyYeJgAAACH5BAEAAAcALAAAAAAUABQAAANhaLfcviCC0YyM9IwbjeegZIXgR56CQHosN2ylV5jnxY4nXIPFMuAA4KXnsBl+nIcGZhDoJI8NblQoiB4WXCFASDoGs2BgLMw0ZtsxoepS+AyE8Zi9ohLuVeGqsNZzaDsRCQA7) no-repeat 0 0;
  height: 20px;
  display: inline-block;
  padding-left: 24px;
}
.forum_267 .bbc-spoiler {
  text-shadow: none;
  color: transparent;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAKCAMAAAAtvZhVAAAANlBMVEX/AAD/////AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAAzfBn8AAAAEXRSTlMAAIBAwCBg8BCgkDCwcFDg0Ku7zC0AAAEeSURBVHheVdJZjsQgDARQ4wWTkKXr/pcd4zDdpH6CVOhJDqZIZaEIj1Sq8TmNyOJMfdet0ohl2/O6kfCIPX2pbOVJ1M1xDw4jSoqINxIoCaCuyQkyO5FCiDEiT18U8uMqHJIcjURnN67kDpxENjmldgIyOaZI9KXYm/vcO7YXR46e3A6/iL4c0YZ94bIPZOU6zg5vc9jBqQefnH2Aoy0cQ3/D8uzLhvLlNlS5UQfHzIMLoz0ctR24X9wxOWWW2RdeOMfIZx32wJHcw0B+nILXYWe/cBVXPm5fOHOcyV02KvvnZIPbykVv0Xdp/5zeNH8xMnn7hNvgFA4cy6J4XxeFs9/Wp+B8us6VOJNbGmcxrrmttX3XuEp7rbE8/bLGf17DEZFkjzKjAAAAAElFTkSuQmCC) left center repeat-x white;
  border: 1px solid red;
}
.forum_267 .bbc-spoiler.reveal li, .forum_267 .bbc-spoiler.reveal, .forum_267 .bbc-spoiler.stay {
  background: #fff;
  border-color: transparent;
  color: #111;
}
.forum_267 #thread .post .quote_link[href$="420"] {
  position: static;
}
.forum_267 #thread .post .quote_link[href$="420"]:after {
  content: "You Found: " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAXBAMAAAAMzfkgAAAAJFBMVEX////39/fnxpRKORhCQkrva7X3QkKUlJxKISG9vcaEISFzc4RR+YyQAAAAAXRSTlMAQObYZgAAAKpJREFUeF6Fy7EKwjAQx+GDdugaUMS1TyAW9w6BPkEqPkAO7VZQQu3SQSRrQZC8gJSMXXw9z9jY4uJv+MPHcTAUaZiku2aCK47HSEvcN19ZmRdeXKPI8eIQ8o+61CEzZ5SIHXdgbG4faHckAmUKe2C3FHjJfDMS+5V5ox20UC1N5VQu655+62dLCjPVx8rc+7giBdlJiK1SNEeAYCN8CWkd+/4pGQOAESt4AQWWPMukF4bRAAAAAElFTkSuQmCC) " Magic Cake (Very Rare)";
  margin: 0 0 0 100px;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  vertical-align: top;
}

.forum_219 #thread .userid-17106 dt.author {
  padding-left: 18px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACGUlEQVR4Xp3QyWsTbwDH4c87M5lMkkkmUyEt6eYSi1q0qHWhsQouFSkEbaVWvHhwOUih9NSCPxA86Uk9WBE8VTx4aMWK4H4oiFDEVNDWupJu0JhYjfWXrTPe9GAX6+cPeOD7Zb6iJ7XT0ePKGf6l601myUQrdrwNu2u/dxlzJDFHVll4t1S8FjtYib18e92iAXvLiUj8wB1G62+TqT4WWRRw7mKn7vMX7LCFgpAceHRf+PylTj+zpDBLS6JXa4qNugKnuh5VhpKxfiPV/6gW6P0rwEgORoL9L/BFQTXAiMPYpDMC9C444fLhCtlnp/fKCtiABahu8FqZPVeOrHIsCExtaq2c2dAQyhtLmXHo5GWdrFFGrqq+/Et1y7p5gffXGk2v/bkxXdPGaKSbjwfv827fA97sukkq3IL8/2RDz6k15qxA7MbRbdrTnpiR/PCfw+VhRqhknCZZ1cSSNBTNhTr5qSMw9Dr2sH3rzj9O1BIDTfFpS/cPdBMISEgrwtjuAJIs8KQmKB3qQ7y6JX7k0QPZeDPwGEAAjD85K3ueXxhKvE2ERkagyA9uDRRF4HALZGHxLQHD41BcAkWrjViutiNUWNOeUwBcTFU5lUQoWAGmH9IpEHmQbBspZyM08BbB5lJwFYLQvpbltOmNwDMFQM/2NSsrgwA4y4HvAIAFiN9D8QA6IIOSvnvoF3Cv6+WwmU+zmDK+5CDAT+xlp+smUne2AAAAAElFTkSuQmCC) no-repeat left 2px;
}

.forum_188 #thread .userid-182864 dl.userinfo dt.author {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 4px 0px 1px cyan, -2px 0px 1px red, -2px 0px 1px red, 4px 0px 1px cyan;
}

@-moz-keyframes freakFlagFly {
  0% {
    padding: 0;
  }

  20% {
    padding: 0;
  }

  80% {
    padding: 50px 125px;
  }

  100% {
    padding: 50px 125px;
  }
}

@-webkit-keyframes freakFlagFly {
  0% {
    padding: 0;
  }

  20% {
    padding: 0;
  }

  80% {
    padding: 50px 125px;
  }

  100% {
    padding: 50px 125px;
  }
}

@-o-keyframes freakFlagFly {
  0% {
    padding: 0;
  }

  20% {
    padding: 0;
  }

  80% {
    padding: 50px 125px;
  }

  100% {
    padding: 50px 125px;
  }
}

@-ms-keyframes freakFlagFly {
  0% {
    padding: 0;
  }

  20% {
    padding: 0;
  }

  80% {
    padding: 50px 125px;
  }

  100% {
    padding: 50px 125px;
  }
}

@keyframes freakFlagFly {
  0% {
    padding: 0;
  }

  20% {
    padding: 0;
  }

  80% {
    padding: 50px 125px;
  }

  100% {
    padding: 50px 125px;
  }
}

#flag_container img[src$="?by=forums%20poster"], #flag_container img[src$="?by=Shit%20Man"], #flag_container img[src$="?by=Jingai%20Jigokumoto"] {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(http://pasta.rd14.net/2014-03/flagSpammer3.gif) no-repeat black;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  width: 250px;
  //Width of new image
  height: 100px;
  // Height of new image
  -webkit-animation: freakFlagFly 5s linear infinite alternate;
  -moz-animation: freakFlagFly 5s linear infinite alternate;
  -ms-animation: freakFlagFly 5s linear infinite alternate;
  -o-animation: freakFlagFly 5s linear infinite alternate;
  animation: freakFlagFly 5s linear infinite alternate;
}

.title img {
  vertical-align: bottom;
}
