


body.forum_267 {
  background: url(http://fi.somethingawful.com/images/ddrd-bgYoshi.jpg) #cedbf0;
}

.forum_267 #container {
  background: url(http://fi.somethingawful.com/images/ddrd-bgYoshiBottom.png) repeat-x bottom;
  padding-bottom: 50px;
}
.forum_267 #copyright a {
  color: #fff;
  font-weight: bold;
}

body#something_awful.forum_267 #copyright {
  color: #fff;
  text-shadow: 0 0 0.5em #000, 0 0 0.5em #000, 0 0 0.5em #000;
}

.forum_267 .breadcrumbs a.up, .forum_267 .breadcrumbs a.bclast, .forum_267 .breadcrumbs .online_users, .forum_267 .breadcrumbs .mainbodytextlarge b {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  font-weight: normal;
  text-decoration: none;
  padding: 0 4px;
  background: #EEE;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 2px 8px;
  margin-right: 6px;
  box-shadow: inset 1px 1px 1px white, inset -1px -1px 1px #bbbbbb, 2px 2px 2px rgba(26, 26, 26, 0.39);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.forum_267 #thread {
  clear: both;
}

.forum_267 .postbody b a[href^="/banlist.php?userid="]:after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 43px;
  vertical-align: middle;
  padding: 0 4px 0 0;
  background-image: url(http://i.somethingawful.com/images/n-banlist.png);
  background-size: 100% 100%;
  -webkit-filter: drop-shadow(0 0 1px black);
  -moz-filter: drop-shadow(0 0 1px black);
  filter: drop-shadow(0 0 1px black);
}

.forum_267 img.bookmark {
  height: 0;
  width: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  background-image: url(http://i.somethingawful.com/images/n-star0.png);
  background-size: 100%;
}

.forum_267 img.unbookmark {
  height: 0;
  width: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  background-image: url(http://i.somethingawful.com/images/n-star1.png);
  background-size: 100%;
}

@-moz-keyframes hand {
  from {
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -moz-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@-webkit-keyframes hand {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@-o-keyframes hand {
  from {
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
}

@keyframes hand {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
  }
}
/* added hover hand to post icons */
.forum_267 a:hover, .forum_267 .rating_buttons li:hover, .forum_267 .posticon img:hover {
  position: relative;
}
/* added hover hand to post icons */
.forum_267 a:hover:before, .forum_267 .rating_buttons li:hover:before, .forum_267 .posticon img:hover:before {
  pointer-events: none;
  position: absolute;
  content: '';
  width: 16px;
  height: 16px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEUAAAAAAACdnZ2cnJydnZ0AAACcnJz///96iO+2AAAABHRSTlOzAAAAvFSH7gAAAGhJREFUeF5disENAjEMBJcOWKQ0YDoILSTwhQPjBjiugYS0jx1+7GM1Gg1I1RtJMNnoAQcbrax6h4tYh10mNEzxedWfqd7YFpBlQltPGVY8Wdw8ntt4LyJIWs5V8hFMqleA+N8O+3iSX+SpIGJxGb9xAAAAAElFTkSuQmCC) no-repeat;
  display: inline-block;
  top: 0;
  left: -16px;
  -webkit-animation: hand 0.5s linear infinite alternate;
  -moz-animation: hand 0.5s linear infinite alternate;
  -ms-animation: hand 0.5s linear infinite alternate;
  -o-animation: hand 0.5s linear infinite alternate;
  animation: hand 0.5s linear infinite alternate;
}
/* fixed hover hand on thread icons */
.forum_267 .alertbutton a, .forum_267 .postbuttons a, .forum_267 .thread .icon a, .forum_267 .thread_tags a.if {
  display: inline-block;
}
.forum_267 #thread dl.userinfo dt.author.role-mod {
  background-image: url(data:image/gif;base64,R0lGODlhCgAQAJEDAO3+/hWP5i5LYAAAACH5BAEAAAMALAAAAAAKABAAAAItnCdyK5CLAAhBmSZpja3qlFGCiH1k6FWleE6sOrmjqjmeMmvbpVtH8oAgfIMCADs=);
  padding-left: 14px;
}
.forum_267 #thread dl.userinfo dt.author.role-admin {
  background-image: url(data:image/gif;base64,R0lGODlhCgAQAJEDANtHSpkgJf/S0gAAACH5BAEAAAMALAAAAAAKABAAAAItnBdxG5KLhABAmSZpja3qlFGBiH1k6FWleE6sOrmjqjmeMmvbpVtH8oAgfIMCADs=);
  padding-left: 14px;
}
.forum_267 .thread td.title_sticky a.thread_title, .forum_267 .author.op:before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEX///8AAABSxhj///9KjO+oAAAAAXRSTlMAQObYZgAAAFtJREFUeF4lxLERQDAYgNFPkTMBOrNkhBT+lpohWMISNGkoXVZQ6E3hcpc7iULzoGgga3eNis5QBjtTr+tGZ8PD5OL7M7p4MNiw0Iv0iL+Fyt8XeUonKiVDJqI/X4gkPOes9IQAAAAASUVORK5CYII=) no-repeat;
  padding-left: 20px;
}
/* added poison mushroom for announcements */
.forum_267 .thread td a.announcement {
  background: url(data:image/gif;base64,R0lGODlhEAAQAKIGACkpKSkIhJSt/5Qx7/////+1hAAAAAAAACH5BAEAAAYALAAAAAAQABAAAANXaKrQvtC0QGuLgA7BxaDAkgVbx31BKJFc0J7pylKti07DRgt0nma5kin4I+VqJ9+EVGkyiyCH1LICFKyFrDWjkhQIDQIYQLhCrGIyWGw+f8XwNkb6WCQAADs=) no-repeat;
  padding-left: 20px;
}
.forum_267 .author.op:before {
  content: '';
  width: 16px;
  height: 16px;
  display: inline-block;
  padding: 0 4px 0 0;
  vertical-align: bottom;
}
.forum_267 td.postdate a {
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 16px;
  height: 16px;
  line-height: 16px;
  padding: 0;
  margin-right: 4px;
  text-shadow: none;
  color: transparent;
}
.forum_267 td.postdate a:hover {
  background-color: transparent;
}
.forum_267 #thread td.postdate .lastseen_icon {
  background: url(data:image/gif;base64,R0lGODlhEAANAKIHAP///zkIAGMQCNY5MYwYELUpIe+cnAAAACH5BAEAAAcALAAAAAAQAA0AAANKeLrSESuqNmp98ohhjK0FxAjdZz2QAKwrAbjAwAZAo94rDtGEjNfAHQ/IqrkeOR9Rd0ARBM8nVIBZBAgFU4EgijywhW0100R1FQkAOw==) no-repeat center center;
  margin-right: 4px;
}
.forum_267 #thread td.postdate .lastseen_icon img {
  display: none;
}
.forum_267 td.postdate a.user_jump {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEX////YsBiISBBgKADQqCCwgBjgsBjIoBiYYBj46Ij4+PjowDD40Chwesi1AAAAAXRSTlMAQObYZgAAAH9JREFUeF4tyDEKwjAYhuFPPMEPWYpOf5B2FIrOopnsVIO6i2To6KAHyJIruHb8ztJD2QTf6eHFQnLmgBW/c9ML1T4EkZNHFTj39FgPGWOBakY3sBeOEd1DzywQIXmMeIshtY64iSPrj0Vv3EUL3P/cd1dy4y2alFSbZLFsS9sfPcstFrSXD2YAAAAASUVORK5CYII=) no-repeat center center;
}
.forum_267 td.postdate a.user_jump[title^="R"] {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.forum_267 td.postdate a[href*="action=showpost"] {
  background: url(data:image/gif;base64,R0lGODlhEAAKAKIFABgYGPj4+Li4uNjY2ICAgAAAAAAAAAAAACH5BAEAAAUALAAAAAAQAAoAAAMuCLrcBSNIJaQNK05QbxDM1inSABSPWGomCqgecaYYJxG4jNLUpuw8Gwa4azCICQA7) no-repeat center center;
}
.forum_267 td.postdate a[href^="#"] {
  background: url(data:image/gif;base64,R0lGODlhDwAQAKIAAAAAAJlOAOqeIojYAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAPABAAAANDCKrTvhC4OaKQIet61dVgAHSjEAiDgJrqop4nG0NqbZtQ88aNCIS2Hsi0mRBjRKJuB8ughruj0vEBUmg2nyai2HIBCQA7) no-repeat center center;
}
/* removed hammock crap */
.forum_267 .postbuttons input {
  padding-left: 20px;
}
.forum_267 .postbuttons input[name="submit"] {
  background: url(data:image/gif;base64,R0lGODlhDQANAKIHADFa9wgQSiFCzhAplAgha////7W99wAAACH5BAEAAAcALAAAAAANAA0AAANEeHrUEWs1QOmTwJhKBWQaIBRCBRHCRhWcR1QjQHbB25HFQNtp4auuUkyXEwwgAcAgpyx+AgOjcEA4Lh5RgfESOTy+kQQAOw==) 4px center no-repeat #dddddd;
}
.forum_267 .postbuttons input[name="preview"] {
  background: url(data:image/gif;base64,R0lGODlhDQANAKIHAEqtIRgxADF7EP///ylCEClaCK3enAAAACH5BAEAAAcALAAAAAANAA0AAANBeHrUEWs1QOmTwJhKBWSaMIyFxQibWKiAR1Qq68LjULbB29nF8LqC3coHKEACOxJOEVgVGj/j4rESCIyfyGMbSQAAOw==) 4px center no-repeat #dddddd;
}
.forum_267 #thread tr.ignored dl.userinfo, .forum_267 #thread table.ignored td.postbody a {
  background: url(data:image/gif;base64,R0lGODlhFAAUAKIHAAMBBcWNUby6w3BsbYRULlUyIyYeJgAAACH5BAEAAAcALAAAAAAUABQAAANhaLfcviCC0YyM9IwbjeegZIXgR56CQHosN2ylV5jnxY4nXIPFMuAA4KXnsBl+nIcGZhDoJI8NblQoiB4WXCFASDoGs2BgLMw0ZtsxoepS+AyE8Zi9ohLuVeGqsNZzaDsRCQA7) no-repeat 0 0;
  height: 20px;
  display: inline-block;
  padding-left: 24px;
}
/* fixed firefox link wrapping */
.forum_267 .postbody a {
  word-break: keep-all;
}
.forum_267 .bbc-spoiler {
  text-shadow: none;
  color: transparent;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAKCAMAAAAtvZhVAAAANlBMVEX/AAD/////AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAAzfBn8AAAAEXRSTlMAAIBAwCBg8BCgkDCwcFDg0Ku7zC0AAAEeSURBVHheVdJZjsQgDARQ4wWTkKXr/pcd4zDdpH6CVOhJDqZIZaEIj1Sq8TmNyOJMfdet0ohl2/O6kfCIPX2pbOVJ1M1xDw4jSoqINxIoCaCuyQkyO5FCiDEiT18U8uMqHJIcjURnN67kDpxENjmldgIyOaZI9KXYm/vcO7YXR46e3A6/iL4c0YZ94bIPZOU6zg5vc9jBqQefnH2Aoy0cQ3/D8uzLhvLlNlS5UQfHzIMLoz0ctR24X9wxOWWW2RdeOMfIZx32wJHcw0B+nILXYWe/cBVXPm5fOHOcyV02KvvnZIPbykVv0Xdp/5zeNH8xMnn7hNvgFA4cy6J4XxeFs9/Wp+B8us6VOJNbGmcxrrmttX3XuEp7rbE8/bLGf17DEZFkjzKjAAAAAElFTkSuQmCC) left center repeat-x white;
  outline: 1px solid red;
}
.forum_267 .bbc-spoiler.reveal li, .forum_267 .bbc-spoiler.reveal, .forum_267 .bbc-spoiler.stay {
  background: #fff;
  outline: none;
  color: #111;
}
/* fixed links inside spoilers */
.forum_267 .bbc-spoiler a {
  color: transparent;
}
/* replace banned image with some xbox thing */
.forum_267 .title .banlink img[src$="fi.somethingawful.com/images/title-banned.gif"] {
  background: url(http://pasta.rd14.net/2014-05/big-boned.png) center no-repeat;
  width: 0;
  height: 0;
  padding: 0 168px 116px 0;
}
/* replaced probation image with robotnik*/
.forum_267 .title .banlink img[src$="fi.somethingawful.com/customtitles/title-probation.png"] {
  background: url(http://pasta.rd14.net/2014-05/probotnik.png) center no-repeat;
  width: 0;
  height: 0;
  padding: 0 150px 102px 0;
}
/* changed magic cake to magic doritos and mountain dew because cake is dumb!!! */
.forum_267 .quote_link[href$="420"], .forum_267 .quote_link[href$="069"] {
  position: static;
}
/* changed magic cake to magic doritos and mountain dew because cake is dumb!!! */
.forum_267 .quote_link[href$="420"]:after, .forum_267 .quote_link[href$="069"]:after {
  margin: 0 0 0 100px;
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  vertical-align: top;
}
/* changed magic cake to magic doritos and mountain dew because cake is dumb!!! */
.forum_267 .quote_link[href$="420"]:after {
  content: "You Found: " url(data:image/gif;base64,R0lGODlhGgAXALMPAN+PNqtbMtl1LteBMr9lLNJsKsqCU7hwRM5/Ob5aI99/MMVsMc92LtBjIOOHKKhaNSH5BAEAAA8ALAAAAAAaABcAAATJ8MlJ6wsECbWsnwHGOCQJfJXIAIADDCWCXsRSuCygKBt7eAGDobBTuHgvhe7lIRQaDcJGySq0XAIHwWMrCDZTxWAxYAwAm0DTe9wNNgMOAi1QWwIJ6tsGXyD+Cwx2dw1eBARxOgwLAgULCwSDd4YEVAUjaAWHkhYGDQIsAwVxPI2anBYHo2UCpIsvqHcHZmcrA2djsUCrtAAMl7pAuLc5A8FNZ6Ghx3cLoSsIAzMfB5ABZX/TH3gBiww/2h4HDYuR4dsBC8zaIboRADs=) " Magic Dorito (Very Rare)";
}
/* changed magic cake to magic doritos and mountain dew because cake is dumb!!! */
.forum_267 .quote_link[href$="069"]:after {
  content: "You Found: " url(data:image/gif;base64,R0lGODlhRQAXALMPANfcyyJTMImsQqG2QE6TR3ejQ9PUfZ21b2acRlJ+QNBqbjB4Q3eTcb7GRKq2nSBZMyH5BAEAAA8ALAAAAABFABcAAAT/8L1Aw6JX6s1nkFUojmNngkGSLCxLECT6VUm1EAtSJEzv/70EQiBAUE6cRGMw2K0WBUGhFb1YEEbXQZAg6ISDg8PBGJvPBqlX8EFqCnCEF7FKROVDwcHbPOAFA0VRXAgNZ2YAiYoATICBbW55anBdg0ONg0SagY5MBAUNfgYHBQcHBgaLBo0CDQ1sbg9KrnBwLwWNA65MTEu8RLquAgStBwwGDgcAp4sAq4EIAwYNBZAmBA3Tr7Yvur2u4OG82alyrQLJCgqHDolLRFjZDQkyIbKOtFj63sHh4KnZEjnAAqgdA3UKGPAQ464RlmBsKNjBAodClE/QdOCJ8s2fK220/+AQKcPgAMIyZMbwChRl14sFdjQVCTDlho4CGl+8uNRv3K84g3IYO1lmnYNO4155qVRLihwvtXBi0TmVIJGmLGtRLLIgpTqS6o5+QzWtgBeYV+HhuCkljs5P+jK1HdRUn56SJU+OWYcPVaI0WNDKrHkzitSdFCneiQo0DkUxY4omRLll7N8idBLIJBKAQFapeBQrVqNvCOipeiIncBC2pMqO2p4K1jSFGKomhYF5HLBVl0jQuH4QOBjWjK9XK3fO1pRgZVsiS1KBBPcHlci20Xb1KnCwnaJnvDHytmInkxDMT0UyMwDHVehbTeY4ZmLKuzGUqZzxWqurhocRzeFA1ZJDo9zw1i2I5VAaQWFARoYP+elHxFpLWNOBZji4cGALHL5k4IE4fUKMMZGJgUx9DmxjlmfzWMiBPjh08QSHNN5QYwtn4SAAMmYwI9BlQFHjYhKOyHHjkUjSqAeJPzYDgCDnDMlBChlySMKVGFxQIwI9DPdgGQC0k8w4/sVSD41HoIDEESGwgEEKNlgQghA1SNlBBAA7) " Magic Mtn Dew (Very Rare)";
}






